//bouton rond
.navigation-secondaire{
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
  margin-left: 140px;
  margin-bottom: 80px;
}

.item-nav {
  flex: 1;
  text-align: center;
    & a {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      & img {
        width: 210px;
        height: 210px;
        border: 2px solid $secondary;
        border-radius: 100%;
        object-fit: cover;
      }
  }
}
