.card{
  display: flex;
  margin: 0 80px 80px;
  justify-content: space-around;
}

.card_spec{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 280px;
  height: 615px;
  background-color: #D9D9D9;
  & img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    width: 280px;
    height: 265px;
  }
}
