//Couleurs
  $primary: #FFFFFF;
  $secondary: #711324;

// Typographie
$typo: (
        baskerville: ('Baskerville',baskerville),
        aref-ruqaa: ('aref Ruqaa', aref Ruqaa),
        sofia: ("sofia", sofia),
        darker-grotesque: ("darker-grotesque", Darker Grotesque)
);
