cite{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  &  > p {
    margin-left: 350px;
  }
}


.savoir-faire{
  margin-bottom: 80px;
}

.image-savoir-faire{
  width: 826px;
  height: 436px;
}

.text_savoir_faire{
  width: 680px;
  height: 310px;
  margin-top: -250px;
  margin-left: 500px;
  background-color: white;
  position: absolute;
  & h2 {
    margin: 40px;
    text-align: start;
  }
  & p {
    margin: 40px;
    font-family: Baskerville;
    font-size: 19px;
  }
}

.notre-concept{
  margin-bottom: 80px;
}

.image-notre-concept {
  height: 810px;
  width: 100%;
  background: linear-gradient(to right, black, 80%, transparent), url('../photos_boulangerie/image_boulangerie_théatre.jpg');
  background-size: cover;
  background-attachment: initial;
  background-position: center ;
}

.text-notre-concept{
  width: 680px;
  height: 750px;
  margin-top: -810px;
  margin-right: 500px;
  color: white;
  & h2 {
    margin: 40px;
    text-align: center;
  }
  & p {
    margin-left: 40px;
    font-family: sofia;
    font-size: 19px;
  }
}

.avis_client{
  display: flex;
  justify-content: space-around;
  margin-left: 140px;
  & .btn_information{
    width: 56px;
    margin-bottom: 0;
  }
  & .btn{
    margin-bottom: 0;
    justify-content: start;
    align-items: center;
    margin-right: 140px;
    width: 200px ;
  }
}

.haut_card{
  display: flex;
}

.nom_avis{
  display: flex;
  flex-direction: column;
  align-self: center;

  & p {
    margin: 10px;
  }
}

.avis_date{
  display: flex;
  margin: 10px 0px;

  & i{
    margin-left: 6px;
  }

  & p{
    margin-left: 20px;
  }
}

.card-avis_client{
  width: 275px;
  margin: 0 50px 80px 0;

  //& p {
  //  margin-bottom: 6px;
  //  margin-left: 10px;
  //}
}

.maps{
  text-align: center;
  margin-bottom: 80px;
}
